<div class="row justify-content-center mt-4">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="row justify-content-center mt-4">
                        <img src="../assets/SimpleLogoWin.png" class="card-img-top" style="width: 125px;">
                    </div>
                    <h1 class="row justify-content-center mt-4"> Crear Cuenta</h1>
                    <div class="card-body">
                        <!-- [formGroup]="registerForm"-->
                        <form>
                            <div class="form-group">
                                <label for="usuario">Nombre:</label>
                                <input type="text" class="form-control" id="usuario" placeholder="Ingrese su Nombre" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Primer Apellido:</label>
                                <input type="text" class="form-control" id="usuario" placeholder="Ingrese su Primer Apellido" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Segundo Apellido:</label>
                                <input type="text" class="form-control" id="usuario" placeholder="Ingrese su Segundo Apellido" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Facha de nacimiento:</label>
                                <input type="text" class="form-control" id="usuario" placeholder="Formato solicitado 'día-mes-año'" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Edad:</label>
                                <input type="text" class="form-control" id="usuario" placeholder="Ingrese su edad" />
                            </div>
                            <div class="form-group">
                                <label for="telefono">Nombre de Usuario:</label>
                                <input type="text" class="form-control" id="number" placeholder="Ingrese su usuario" />
                            </div>
                            <div class="form-group">
                                <label for="contrasena">Nacionalidad:</label>
                                <input type="text" class="form-control" id="email" placeholder="Ingrese su Correo" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="contrasena">Foto:</label>
                                <input type="file" class="form-control-file" id="foto" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="contrasena">Contraseña:</label>
                                <input type="password" class="form-control" id="contrasena"
                                    placeholder="Ingrese su Contraseña" />
                            </div>
                        </form>

                        <div class="col justify-content-start mt-3">
                            <button type="submit" class="btn btn-primary btn-block" (click)="submit()">
                                Guardar
                            </button>
                        </div> 
                        <div class="col justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary btn-block" (click)="back()">
                                volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>