.challenge-card {
    position: relative;
    left: 0px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
}

.card-body{
    border: 2px solid #98DFD6;
    width: 100%
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 20px;
    margin-top: 20px;
}
