<p>comment works!</p>

<div class="card">
    <div class="header">
      <h2 class="titulo">Comentarios 💬</h2>
    </div>
    <div class="content">
      <hr class="horizontal-line">
      <div class="section">
        <p>Usuario 1:</p>
        <p>Comentario 1</p>
      </div>
      <hr class="horizontal-line">
      <div class="section">
        <p>Usuario 2:</p>
        <p>Comentario 2</p>
      </div>
      <hr class="horizontal-line">
    </div>
    <div class="footer">
      <form>
      <div class="mb-3">
        <h5 for="Comment" class="titulo">Agregar un comentario</h5>
        <input type="text" class="form-control">
        <button type="submit" class="btn btn-primary">Publicar 📩</button>
      </div>
    </form>
    </div>
  </div>
