<div class="row justify-content-center mt-4">
    <div class="container">
        <div class="row justify-content-center mt-5">

            <div class="row justify-content-center mt-4">
                <h1 class="text-center">Información de Contacto</h1>
                <img src="../assets/SimpleLogoWin.png" class="card-img-top" style="width: 125px;">
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nombre: John Doe</h5>
                            <p class="card-text">Correo Electrónico: john.doe@example.com</p>
                            <p class="card-text">Teléfono: +1 (123) 456-7890</p>
                            <p class="card-text">Dirección: 123 Main St, Ciudad, País</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>