<div class="container mt-4">
    <h2>Gestionar Carreras de Stravia</h2>
    <!-- inputs completo <input type="number" id="price" formControlName="price" required /> -->

    <!-- Formulario para crear/editar promociones  <form [formGroup]="promotionForm" (ngSubmit)="saveMovie()"> -->
    <form>
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="form-group">-->
                <div>
                    <label for="idexecution">ID de Carrera:</label>
                    <select id="idexecution">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="form-group">-->
                <div>
                    <label for="period">Nombre:</label>
                    <input type="text" id="period" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Fecha:</label>
                    <input type="number" id="price" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Precio:</label>
                    <input type="number" id="price" />
                </div>
            </div>

            <div>
                <label for="idexecution">Categoria:</label>
                <select id="idexecution">

                </select>
            </div>
            <div>
                <label for="idexecution">Tipo de Actividad:</label>
                <select id="idexecution">

                </select>
            </div>

            <div>
                <label for="idexecution">Tipo de evento:</label>
                <select id="idexecution">

                </select>
            </div>
            <div>
                <label for="idexecution">Categoría:</label>
                <select id="idexecution">

                </select>
            </div>
            <div>
                <label for="idexecution">Patrocinadores:</label>
                <select id="idexecution">

                </select>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Cuenta Bancaria:</label>
                    <input type="number" id="price" />
                </div>
            </div>
        </div>
        <!-- <div class="form-group">-->
        <div>

            <button type="button" class="btn btn-secondary" (click)="createNew()">
                Crear
            </button>
        </div>
    </form>

    <!-- Lista de promociones de aire -->
    <table class="table mt-4">
        <thead>
            <tr>
                <th>ID Carrera</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Recorrido</th>
                <th>Tipo de Actividad</th>
                <th>Tipo de Carrera</th>
                <th>Costo</th>
                <th>Cuenta</th>
                <th>Categoría</th>
                <th>Patrocinadores</th>
            </tr>
        </thead>
        <tbody>
            <!-- *ngFor="let promotion of promotionList" -->
            <tr>
                <td>id</td>
                <td>nado sincronizado</td>
                <td>jueves</td>
                <td>recorrido</td>
                <td>talamanca-san jose</td>
                <td>privada</td>
                <td>10000</td>
                <td>1-234-565</td>
                <td>nadar</td>
                <td>gucci</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="editMovie()">
                        Editar
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteMovie()">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>