<div class="container">
    <h1 class="page-title"> Registrar actividad 📝</h1>
    <form>

    <div class="mb-3">
        <h5 for="Fecha" class="title">Fecha</h5>
        <input type="date" class="form-control">
    </div>

    <div class="mb-3">
        <h5 for="Hora" class="title">Hora</h5>
        <input type="time" class="form-control">
      </div>
  
    <div class="mb-3">
      <h5 for="Duración" class="title">Duración</h5>
      <input type="time" step="1" class="form-control">
    </div>

    <!-- Selector para el tipo de actividad -->
    <h5 class="title">Seleccione el tipo de actividad</h5>
    <select name="activity" class="select" [(ngModel)]="selectedActivity">
        <option value="" disabled selected> Tipo de actividad </option>
        <option *ngFor="let activity of activities">
        {{ activity.type }}
        </option>
    </select>

    <div class="mb-3">
        <h5 for="Km" class="title">Kilometraje</h5>
        <input type="number" min="0" step="0.01" class="form-control">
      </div>

    <div class="mb-3" enctype="multipart/form-data">
        <h5 for="Km" class="title">Subir mapa .gpx</h5>
        <input type="file" class="form-control-file archivo" id="archivo" name="archivo">
    </div>

    <h5 class="title">Seleccione el reto o carrera al que pertenece</h5>
    <p class="text">En caso de que pertenezca a alguno, de lo contrario no seleccione ninguna opción</p>
    <select name="activity" class="select" [(ngModel)]="selectedEvent">
        <option value="" disabled selected> Reto/Carrera </option>
        <option *ngFor="let event of events">
        {{ event.name }}
        </option>
    </select>

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>