<div class="container mt-5">
    <h5> Nombre Carrera </h5>
    <div class="card">
      <div class="card-body">
        <!-- Contenedor de la tabla -->
        <table class="table" id="miTabla">
          <thead>
            <tr>
              <th>Posicion</th>
              <th>Participante</th>
              <th>Tiempo</th>
            </tr>
          </thead>
          <tbody id="tablaBody">
            <!-- Aquí se llenarán los datos de forma iterativa -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  