<div class="row justify-content-center mt-4">
    <img src="../assets/SimpleLogoWin.png" class="card-img-top" style="width: 125px;">
    <h1 class="text-center">Gestionar de Actividades</h1>
</div>

<div class="card text-center">
    <div class="card-body d-flex justify-content-center align-items-center">
        <h4 class="card-title">Gestión de Carreras</h4>
        <p class="card-text">Crear, editar o eliminar carreras</p>
        <a class="btn btn-primary" (click)="manageRace()">Ir</a>

    </div>
</div>

<div class="card text-center">
    <div class="card-body d-flex justify-content-center align-items-center">
        <h4 class="card-title">Gestión de Retos</h4>
        <p class="card-text">Crear, editar o eliminar Retos</p>
        <a class="btn btn-primary" (click)="manageChallenge()">Ir</a>
    </div>
</div>

<div class="card text-center">
    <div class="card-body d-flex justify-content-center align-items-center">
        <h4 class="card-title">Validación de inscripciones</h4>
        <p class="card-text">Validar Recibos y Fondos</p>
        <a class="btn btn-primary" (click)="validation()">Ir</a>
    </div>
</div>

<div class="card text-center">
    <div class="card-body d-flex justify-content-center align-items-center">
        <h4 class="card-title">Gestión de Grupos</h4>
        <p class="card-text">Crear, editar o eliminar Grupos</p>
        <a class="btn btn-primary" (click)="manageGroups()">Ir</a>
    </div>
</div>

<div class="card text-center">
    <div class="card-body d-flex justify-content-center align-items-center">
        <h4 class="card-title">Reportes de Participación</h4>
        <p class="card-text">Listas de participantes</p>
        <form (ngSubmit)="participantReport()">
            <div class="mb-3">
                <h5 for="id" class="title">Id de la carrera: </h5>
                <input type="text" class="form-control" [(ngModel)]="RaceId" name="id">
            </div>
            <button type="submit" class="btn btn-primary">Ir</button>
        </form>
    </div>
</div>

<div class="card text-center">
    <div class="card-body d-flex justify-content-center align-items-center">
        <h4 class="card-title">Posiciones de Carreras</h4>
        <p class="card-text">Listas de participantes</p>
        <a class="btn btn-primary" (click)="PositionRace()">Ir</a>
    </div>
</div>