<div class="container mt-3">
    <div class="row justify-content-center mt-4">

        <h1 class="text-center">Carreras</h1>

    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Recorrido</th>
                <th>Tipo de Actividad</th>
                <th>Tipo de Carrera</th>
                <th>Costo</th>
                <th>Categoría</th>
                <th>Patrocinadores</th>
            </tr>
        </thead>
        <tbody>
            <!-- *ngFor="let promotion of promotionList" -->
            <tr>
                <td>tecRace</td>
                <td>jueves</td>
                <td>recorrido</td>
                <td>talamanca-san jose</td>
                <td>privada</td>
                <td>10.000</td>
                <td>nadar</td>
                <td>gucci</td>
                <td>
                </td>

                <td>
                    <button type="submit" class="btn btn-sm btn-info" (click)="inscription('tecRace')">
                        Inscribir
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
</div>