<h1 class="page-title">StraviaTEC</h1>

  <div class="container">
    <div class="row">
      <div class="col-4 user-card">
        <div class="card">
          <div class="d-flex">
            <img src="../../../assets/user.jpg" class="card-img-top" alt="Imagen de la tarjeta">
            <div class="card-body d-flex flex-column align-items-start">
              <h5 class="card-title">My User</h5>
              <p class="card-text">Mi perfil</p>
              <a href="#" class="btn btn-primary">Registrar actividad </a>
              <a href="#" class="btn btn-primary">Unirse a un grupo </a>
              <p class="card-text">Ver mis:</p>
              <div class="form-container">
                <select class="form-select" id="custom-select">
                  <option value="1">Carreras</option>
                  <option value="2">Retos</option>
                </select>
                <button type="submit" class="btn btn-primary">Ver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  

  
  
