<div class="row justify-content-center mt-4">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="row justify-content-center mt-4">
                <h1 class="text-center">Inscipciones</h1>
                <img src="../assets/SimpleLogoWin.png" class="card-img-top" style="width: 125px;">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="form-container d-flex justify-content-between">
                        <select class="form-select" id="custom-select">
                            <option value="1">Carreras</option>
                            <option value="2">Retos</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Ver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>